---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import { Variant } from '~/enums';
import HeroText from '~/components/widgets/HeroText.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import { Icon } from 'astro-icon/components';
import BriqForm from '~/components/ui/BriqForm.html';
const metadata = {
  title: 'briq.mx',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: '~/assets/images/hero/cover.png', alt: 'briq' }}>
    <Fragment slot="tagline">
      <span>CONVIÉRTETE EN</span>
    </Fragment>
    <Fragment slot="title">
      socio de
      <span class="text-sky dark:text-white highlight">briq.mx</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline font-bold"> Por primera y única ocasión, vuélvete accionista de la plataforma</span>
      <span class="sm:block">
        de financiamiento colectivo que está revolucionando las inversiones en bienes raíces.</span
      >
    </Fragment>
  </Hero>

  <HeroText
    callToAction={{
      text: 'Me interesa ser socio',
      href: '#mc_embed_form',
      variant: Variant.Primary,
    }}
  >
    <Fragment slot="title">
      <span class="block text-white">¿Quieres ser</span>
      <span class="text-sky dark:text-white highlight">nuestro socio?</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="inline font-bold text-white text-base"
        >Preferimos que nuestra comunidad se quede con las acciones.</span
      >
      <span class="block text-white text-base">
        Levantaremos una ronda de inversión en septiembre. ¿Por qué no darle la oportunidad a los inversionistas que ya
        confían en nosotros y usan briq.mx? #ElValorSeQuedaEnCasa</span
      >
    </Fragment>
  </HeroText>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    callToAction={{
      text: 'Me interesa ser socio',
      href: '#mc_embed_form',
      variant: Variant.Primary,
    }}
    items={[
      {
        title: 'Regístrate para recibir los detalles por correo.',
      },
      {
        title: '¡Únete al webinar de lanzamiento y resuelve tus dudas!',
        description: ' (psst... te enviaremos invitación por correo 🤫)',
      },
      {
        title: 'Invierte a través de Play Business y recibe acciones de briq.mx',
        description: 'Aprovecha al máximo el interés compuesto reinvirtiendo automáticamente tus regalías.',
      },
    ]}
    image={{
      src: '~/assets/images/feature.png',
      alt: 'Features briq.mx',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Quiero ser socio ¿qué hago?</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Hero2>
    <Fragment slot="tagline">
      <span class="text-white">¿POR QUÉ ELEGIMOS A</span>
    </Fragment>
    <Fragment slot="title">
      <span class="text-sky block dark:text-white highlight text-5xl">playbusiness.mx</span>
      <span class="text-2xl text-white">PARA MANEJAR LA INVERSIÓN?</span>
    </Fragment>
    <Fragment slot="content">
      <section class="flex flex-col gap-6">
        <div class="flex md:flex-row flex-col gap-6">
          <div class="bg-white rounded-lg flex items-start justify-start flex-col gap-4 p-6">
            <Icon name="badge-check" class="size-12 inline-block -mt-0.5 text-sky" />
            <p class="text-start">
              <strong>La ley impide que una plataforma pueda auto fondearse</strong> para evitar conflicto de interés. Es
              decir, que para involucrarte y a toda la comunidad debemos usar otra plataforma.
            </p>
          </div>
          <div class="bg-white rounded-lg flex items-start justify-start flex-col gap-4 p-6">
            <Icon name="shield-check" class="size-12 inline-block -mt-0.5 text-sky" />

            <p class="text-start">
              Conocemos a Play Business desde hace más de 8 años. <strong
                >A nuestro parecer, tienen la experiencia, los permisos y la mejor tecnología para administrar la
                inversión de briq.mx.</strong
              >
            </p>
          </div>
        </div>
        <div class="flex justify-center">
          <p class="text-white max-w-xl">
            Considera que toda la inversión se manejará a través de playbusiness.mx. Tendrás que hacer tu cuenta y los
            procesos necesarios para que puedas convertirte en nuestro socio.
            <strong> Iremos de la mano en este proceso entre tú, nosotros y Play Business. </strong>
          </p>
        </div>
      </section>
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <FAQs
    title="¿Tienes dudas?"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Qué tipo de inversión representa?',
        description:
          'La ronda con briq.mx será bajo un esquema de capital. Eso significa que esta ronda no paga regalías mensuales, sino que te hace socio de la empresa. ',
      },
      {
        title: '¿Por qué a través de Play Business?',
        description: 'Play Business es nuestro canal de ... bla blah blah',
      },
      {
        title: '¿Cuánto puedo domiciliar?',
        description: 'Los montos que puedes domiciliar van desde $500 MXN hasta $100,000 MXN.',
      },
      {
        title: '¿Esto tiene un costo?',
        description: 'El costo de invertir con Segundo Sueldo es un 5% de comisión más IVA.',
      },
      {
        title: '¿Puedo elegir las empresas que incluye una cartelera?',
        description:
          'Las carteleras son seleccionados por nuestro equipo de expertos por lo que no es posible elegir las empresas que deseas obtener. Sin embargo, ¡eso es lo magnífico de Segundo Sueldo! Nosotros analizamos cada empresa, dejas que tu dinero trabaje solo y tú te dedicas a fortalecer tu portafolio.',
      },
      {
        title: '¿Puedo apagar o encender la reinversión de mis retornos en Segundo Sueldo?',
        description:
          'Por supuesto. Al apagar la reinversión, tus retornos serán almacenados en “Cuenta PB” y no en “Por reinvertir”. Es importante saber que si apagas la reinversión y mueves dinero a tu cuenta de “Por reinvertir”, este se reinvertirá en Segundo Sueldo.',
      },
    ]}
  />

  <Hero2>
    <Fragment slot="tagline">
      <span class="text-white" id="mc_embed_form">¿ESTAS LISTO PARA</span>
    </Fragment>
    <Fragment slot="title">
      <span class="text-white highlight text-5xl">ser socio de <strong class="text-sky">briq.mx?</strong></span>
    </Fragment>
    <Fragment slot="content">
      <section class="flex justify-center gap-6">
        <div class="flex justify-center md:flex-row flex-col gap-6 w-full">
          <BriqForm />
        </div>
      </section>
    </Fragment>
  </Hero2>
</Layout>
